<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Technical Board IIT Guwahati">
        <meta name="keywords" content="Technical Board, IIT guwahati, technical board , tech board">
        <title>Gallery-Aeromodelling Club</title>
        <!-- Styles -->
        <link href="../assets/css/page.min.css" rel="stylesheet">
        <link href="../assets/css/style.css" rel="stylesheet">
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="../assets/img/resources/AeromodellingLogo.png">
        <link rel="icon" href="../assets/img/resources/AeromodellingLogo.png">
        <!--  Open Graph Tags -->
        <meta property="og:title" content="Technical Board">
        <meta property="og:description"
            content="The Student body of IIT Guwahati taking over all the technical aspects of students and improving the standards of Technology.">
        <meta property="og:image" content="#">
        <meta property="og:url" content="https://www.facebook.com/techboard.iitg/">

        <meta name="Facebook" content="https://www.facebook.com/techboard.iitg/">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145301884-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-145301884-1');
        </script>
        <script src="float-panel.js"></script>
    </head>

    <body>
        <div class="spinner-wrapper">
            <div id="loading"></div>
        </div>

        <!-- /.navbar -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
            <div class="container">
                <div class="navbar-left">
                    <button class="navbar-toggler" type="button">&#9776;</button>
                    <a class="navbar-brand" href="../index.html">
                        <img class="logo-dark" src="../assets/img/logo-dark.png" alt="logo" width="45px" height="45px">
                        <img class="logo-light" src="../assets/img/logo-light.png" alt="logo" width="45px"
                            height="45px">
                    </a>
                </div>
                <section class="navbar-mobile">
                    <nav class="nav nav-navbar ml-auto">
                        <a class="nav-link active" href="../home/AeroHome.html">Aeromodelling Home</a>
                        <a class="nav-link active" href="../resources/AeroResources.html">Resources</a>
                        <a class="nav-link" href="../documentation/AeroDocumentation.html">Documentation</a>
                        <!-- <a class="nav-link" href="../Gallery.html">Gallery</a> -->
                        <a class="nav-link" href="../alumni/AeroAlumni.html">Alumni</a>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Clubs & 4i<span class="arrow"></span></a>
                            <nav class="nav mw-200 text-left">
                                <div class="row gap-y p-2">
                                    <a class="nav-link" href="../home/4iHome.html"><img
                                            src="../assets/img/resources/4iLogo.png" alt=".." height="25px"
                                            width="25px"> 4i Lab</a>
                                    <a class="nav-link" href="../home/AcumenHome.html"><img
                                            src="../assets/img/resources/AcumenLogo.png" alt=".." height="25px"
                                            width="25px"> Acumen: Quiz Club</a>
                                    <a class="nav-link" href="../home/AeroHome.html"><img
                                            src="../assets/img/resources/AeromodellingLogo.png" alt=".." height="25px"
                                            width="25px"> Aeromodelling Club</a>
                                    <a class="nav-link" href="../home/AutoHome.html"><img
                                            src="../assets/img/resources/AutoLogo.png" alt=".." height="25px"
                                            width="25px"> Automobile Club</a>
                                    <a class="nav-link" href="../home/CodingHome.html"><img
                                            src="../assets/img/resources/codingclubLogo.png" alt=".." height="25px"
                                            width="25px"> Coding Club
                                    </a>
                                    <a class="nav-link" href="../home/CnAHome.html"><img
                                            src="../assets/img/resources/CnALogo.png" alt=".." height="25px"
                                            width="25px"> Consulting and Analytics Club</a>
                                    <a class="nav-link" href="../home/ElectronicsHome.html"><img
                                            src="../assets/img/resources/ElectronicsClubLogo.png" alt=".." height="25px"
                                            width="25px"> Electronics Club</a>
                                    <a class="nav-link" href="../home/EDCHome.html"><img
                                            src="../assets/img/resources/EDCLogo.png" alt=".." height="25px"
                                            width="25px"> Entrepreneur Development Cell</a>
                                    <a class="nav-link" href="../home/EquinoxHome.html"><img
                                            src="../assets/img/resources/EquinoxLogo.png" alt=".." height="25px"
                                            width="25px"> Equinox: Astronomy Club</a>
                                    <a class="nav-link" href="../home/FnEHome.html"><img
                                            src="../assets/img/resources/FnELogo.png" alt=".." height="25px"
                                            width="25px"> Finance and Economics Club</a>
                                    <a class="nav-link" href="../home/PrakritiHome.html"><img
                                            src="../assets/img/resources/PrakritiLogo.png" alt=".." height="25px"
                                            width="25px"> Prakriti Club
                                    </a>
                                    <a class="nav-link" href="../home/RoboticsHome.html"><img
                                            src="../assets/img/resources/RoboticsClubLogo.png" alt=".." height="25px"
                                            width="25px"> Robotics Club
                                    </a>
                                </div>
                            </nav>
                        </li>
                        <!-- <a class="nav-link" href="../events/AeroEvents.html">Events</a>
                    <a class="nav-link" href="../team/AeroTeam.html">Team</a>
                    <a class="nav-link" href="../Facilities.html">Facilities</a> -->
                    </nav>
                </section>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Header -->

        <header class="header text-white" style="background-image: url(../assets/img/gallery.jpg);" data-overlay="5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h1 class="display-1">Gallery</h1>
                        <p class="lead-3 opacity-90 mt-6">Images that tell story</p>
                    </div>
                </div>
            </div>
        </header><br>
        <!-- /.header -->
        <!-- Main Content -->
        <main class="main-content">
            <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Populate the page
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
            <section class="section">
                <div class="container">
                    <header class="section-header">
                        <h1 class="display-2 fw-400">Moments</h1>
                    </header>
                    <section class="section">

                        <div id="slider-image" data-provide="slider" data-as-nav-for="#slider-thumb"
                            data-autoplay="true" data-css-ease="linear" data-speed="1500" data-autoplay-speed="3000"
                            data-pause-on-hover="false">
                            <div align="center" class="p-2 h-600"><img class="w-100vw"
                                    src="../assets/img/clubs intro/Aero.jpg" alt="..."></div>
                            <div align="center" class="p-2 h-600"><img class="w-100vw"
                                    src="../assets/img/clubs intro/Aeromodelling10.jpg" alt="..."></div>
                            <div align="center" class="p-2 h-600"><img class="w-100vw"
                                    src="../assets/img/clubs intro/Aeromodelling2.jpg" alt="..."></div>
                            <div align="center" class="p-2 h-600"><img class="w-100vw"
                                    src="../assets/img/clubs intro/Aeromodelling3.jpg" alt="..."></div>
                            <div align="center" class="p-2 h-600"><img class="w-100vw"
                                    src="../assets/img/clubs intro/Aeromodelling4.jpg" alt="..."></div>
                        </div>
                        <div id="slider-thumb" data-provide="slider" data-as-nav-for="#slider-image"
                            data-slides-to-show="4" data-center-mode="true" data-dots="true"
                            data-focus-on-select="true">
                            <div class="p-2"><img class="cursor-pointer"
                                    src="../assets/img/clubs intro/Aeromodelling5.jpg" alt="...">
                            </div>
                            <div class="p-2"><img class="cursor-pointer"
                                    src="../assets/img/clubs intro/Aeromodelling6.jpg" alt="...">
                            </div>
                            <div class="p-2"><img class="cursor-pointer"
                                    src="../assets/img/clubs intro/Aeromodelling7.jpg" alt="...">
                            </div>
                            <div class="p-2"><img class="cursor-pointer"
                                    src="../assets/img/clubs intro/Aeromodelling8.jpg" alt="...">
                            </div>
                            <div class="p-2"><img class="cursor-pointer"
                                    src="../assets/img/clubs intro/Aeromodelling9 (2).jpg" alt="..."></div>
                            <div class="p-2"><img class="cursor-pointer"
                                    src="../assets/img/clubs intro/Aeromodelling10.jpg" alt="..."></div>
                        </div><br>

                    </section>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="footer  bg-dark ">
            <div class="container">
                <div class="row gap-y align-items-center">


                    <div class="col-md-4 text-center text-md-left">
                        <div class="nav nav-bold nav-uppercase justify-content-center justify-content-md-start">
                            <a class="nav-link hover-move-up " href="https://www.facebook.com/techboard.iitg/"
                                target="_blank">Facebook</a>
                            <a class="nav-link hover-move-up" href="mailto:techsec@iitg.ac.in" target="_blank">Mail</a>
                            <a class="nav-link hover-move-up" href="tel:9182938122" target="_blank">Contact</a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-center">
                        <div class="social social-sm social-hover-bg-brand">
                            <a class="icon-gymkhana btn-outline-primary"
                                href="https://www.iitg.ac.in/stud/gymkhana/index.html"></a>
                            <a class="icon-tech btn-outline-primary"
                                href="https://www.iitg.ac.in/stud/gymkhana/technical/index.html"></a>
                            <a class="icon-cult btn-outline-primary"
                                href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/culthome.html"></a>
                            <a class="icon-sports btn-outline-primary"
                                href="https://www.iitg.ac.in/stud/gymkhana/sports/sportsboard.html"></a>
                            <a class="icon-welfare btn-outline-primary"
                                href="https://www.iitg.ac.in/stud/gymkhana/welfareBoard/welfareboard.html"></a>
                            <a class="icon-hab btn-outline-primary"
                                href="https://www.iitg.ac.in/stud/gymkhana/hostelBoard/hab.html"></a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-right">
                        <small>© <a href="https://www.iitg.ac.in/stud/gymkhana/technical/index.html">Technical Board
                                2018-2020</a>, All
                            rights reserved.</small>
                    </div>

                </div>
            </div>
        </footer>
        <!-- /.footer -->
        <!--back to top-->
        <button class="btn btn-circle btn-primary scroll-top"><i class="fa fa-angle-up"></i></button>
        <!-- Scripts -->
        <script src="../assets/js/page.min.js"></script>
        <script src="../assets/js/script.js"></script>
        <script>
            function hideLoader() {
                $('#loading').hide();
            }

            $(window).ready(hideLoader);
            preloaderFadeOutTime = 500;
            var preloader = $('.spinner-wrapper');
            preloader.fadeOut(preloaderFadeOutTime);

            // Strongly recommended: Hide loader after 20 seconds, even if the page hasn't finished loading
            setTimeout(hideLoader, 20 * 1000);
        </script>
    </body>

</html>